/*
            misc styles, nothing to do with CSS variables
          */

body {
  text-align: center;
  background: #263840;
  color: #50e56a;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.container {
  margin: 0 50px;
}

.controls {
  margin-bottom: 50px;
}

.control {
  display: flex;
  margin: 10px;
  align-content: center;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
}
.control label {
  flex-grow: 1;
  width: 100px;
  text-align: right;
}

input {
  width: 120px;
  flex-grow: 1;
  margin: 0 30px;
}

/* style color input */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 15px;
  width: 120px;
  height: 25px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 15px;
}
